@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: #1E1E1E;

}

li {
  list-style-type: none;
}



/* apadtive */
@media screen and (max-width: 1980px) {
  .all_contnent {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  .all_contnent {
    width: 75%;
    margin: 0 auto;
  }

  .header {
    font-size: 10px;
  }

  .welcome_block {
    padding: 20px 20px;
  }

  .welcome_title {
    font-size: 28px;

  }

  .skills_title {
    font-size: 20px;
    margin-top: 10px;
  }

  .skills_dis {
    font-size: 18px;
  }

  .skills_containers {
    flex-wrap: wrap;
    padding: 20px 20px;
  }






  .section_contact {
    font-size: 12px;
  }

}

@media screen and (max-width: 1024px) {
  .all_contnent {
    width: 80%;
    margin: 0 auto;
  }

  .frontend_box {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {

  .all_contnent {
    width: 90%;
    margin: 0 auto;
  }

  .header {
    font-size: 10px;
  }

  .welcome_block {
    padding: 20px 20px;
  }

  .welcome_title {
    font-size: 28px;

  }

  .skills_title {
    font-size: 20px;
    margin-top: 10px;
  }

  .skills_dis {
    font-size: 18px;
  }


  .project_image {
    width: 240px;
    height: 200px;
  }

  .project_role {
    font-size: 16px;
  }

  .project_dis {
    font-size: 12px;
  }

  .project_title {
    font-size: 14px;
  }


  .section_contact {
    font-size: 12px;
  }

}


@media screen and (min-width: 320px) and (max-width:425px) {


  .header {
    font-size: 10px;
    flex-direction: column;
  }

  .header_items {
    justify-content: end;
    margin-top: 8px;
  }

  .header_item {
    margin-right: 10px;
  }

  .welcome_block {
    padding: 20px 20px;
  }

  .welcome_title {
    font-size: 16px;

  }

  .skills_title {
    font-size: 20px;
    margin-top: 10px;
  }

  .skills_dis {
    font-size: 14px;
  }

  .skills_containers {
    flex-wrap: wrap;
    padding: 20px 20px;
  }

  .project_image {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .project_item {
    flex-direction: column;
  }

  .contact_image {
    width: 18px;
    height: 18px;
  }

  .contact_container {
    font-size: 15px;
  }

  .contact_container {
    flex-direction: column;
  }

  .contact_column_left {
    margin-bottom: 10px;
  }
}