@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1E1E1E;

}

li {
  list-style-type: none;
}



/* apadtive */

@media screen and (max-device-width: 360px) {}

@media screen and (max-device-width: 768px) {}

@media screen and (max-device-width: 1024px) {}

@media screen and (max-device-width: 1366px) {
  .skills_containers {
    font-size: 12px;
  }


}